<html>

<head>
    <title>Create a student</title>
</head>

<body>
    <h1>Students</h1>
    <form method="POST">
        <label>Name</label>
        <input name="name">
        <label>School</label>
        <input name="school">
        <button type="submit"></button>
    </form>
</body>

</html>